
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="common/layout/errorBase">


<div layout:fragment="mainContent1">
	

	
	<section class="inner-page">
	    	<div class="container">
				<div>
				 <strong><h1  style="text-align:center;font-weight:bold;">404</h1></strong> 
                  <strong><h6  style="text-align:center;font-weight:bold;">Page Not Found</h6></strong> 
                  <strong><h6  style="text-align:center;">We're sorry, we couldn't find the page you requested.</h6></strong> 
                </div>
	    	</div>
	</section>
	
	<br>
		<br>	
		
		
</div>

<div layout:fragment="usercss">
<style>
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 36px;
}

.errorMsg{
 color:red;
 font-size:13px;
}
.hellow1{
background-image: url('assets/img/kk.jpg');
}

.hellow2{
background-image: url('assets/img/not found.jpg');
}

</style>

</div>

<div layout:fragment="userscript">

</div>